@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

* {
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--dark-blue);
    transition: all .3s ease;
}

:root {
    --accent: #FDE74C;
    --dark-blue: #060D2F;
    --light: #FFFBFE;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
}

.register-container {
    background-color: var(--dark-blue);
    width: 65vw;
    height: 70vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.register-container > h2, p {
    color: var(--accent);
}

.register-container > h2 {
    font-size: 2rem;
    font-weight: bolder;
}

.contents {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-wrapper, .right-wrapper{
    width: 50%;
    height: 100%;
    padding: 3%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.inputs {
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    gap: 10px;
    padding: 2%;
    border-radius: 5px;
    background-color: #FFFBFE;
}

.inputs > input {
    outline: none;
    border: none;
    width: 65%;
    height: 30px;
    font-size: 2rem;
    background-color: white;
}

label {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-blue);
}

label::after{
    content: ":";
    font-size: large;
    font-weight: 900;
    width: 10px;
}

.quantidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
}

.contador{
    padding: 3px;
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: var(--light);
}

.contador > h2 {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 ;
    margin: 0;
}


.contador > p {
    font-size: 2rem;
    color: black;
}

.quantidade>button {
    width: 50%;
    height: 70%;
    outline: none;
    border: none;
    background-color: var(--accent);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
}

.quantidade>button:hover {
    scale: 1.05;
}

.quantidade>button:active {
    scale: .9;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-wrapper > h2, .left-wrapper > h2 {
    color: #ffff;
}

.slider-container {
    background-color: #FFFBFE;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 5px;
    overflow-y: scroll;
    gap: 20px;
}

.slider-item {
    width: 95%;
    height: 60px;
}

.slider-container > .inputs {
    border: 1px solid var(--dark-blue);
    width: 90%;
}

.slider-container>.inputs > label{
    font-weight: bold;
    font-size: 1.3rem;
}

.slider-item > button {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: var(--accent);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
}

.slider-item>button:hover {
    scale: 1.05;
}

.slider-item>button:active {
    scale: .9;
}

.submit-container {
    margin-top: 11%;
    width: 105%;
    height: 60px;
}

.submit-container>button {
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    background-color: var(--accent);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
}

.submit-container>button:hover {
    scale: 1.05;
}

.submit-container>button:active {
    scale: .9;
}

input:-webkit-autofill{
   display: none; 
}
